window.MATOMO_ENABLED = '${MATOMO_ENABLED}';
window.MATOMO_URL = '${MATOMO_URL}';
window.MATOMO_SITE_ID = '${MATOMO_SITE_ID}';
window.OVERPASS_URL = '${OVERPASS_URL}';
window.POTA_CATALOGUE_URL = '${POTA_CATALOGUE_URL}';
window.POTA_NAMES_URL = '${POTA_NAMES_URL}';
window.POTA_STATUS_URL = '${POTA_STATUS_URL}';
window.POTA_SPOTS_URL = '${POTA_SPOTS_URL}';
