server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;

    location / {
        try_files $uri $uri/ /index.html;
        sub_filter_once off;
        sub_filter 'MATOMO_URL' '${MATOMO_URL}';
        sub_filter 'MATOMO_SITE_ID' '${MATOMO_SITE_ID}';
    }

    error_page 404 /index.html;
}